.todo-list {
  display: flex;
  flex-direction: column;

  background-color: rgb(44, 226, 211);
  box-sizing: border-box;
  padding: 30px 15px 20px;
  width: 100%;
  max-width: 400px;
  min-width: 330px;


  border-radius: 20px;
  box-shadow: 5px 5px 15px black;
  overflow: hidden;

}
@media (max-width: 425px) {
  .todo-list {

  }
}