.page {
    background: linear-gradient(rgb(227, 42, 221), rgb(0, 229, 255));
    font-family: 'Russo One', sans-serif;
    max-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 30px 35vw 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}