.paragraph__delete {
  width: 35px;
  height: 30px;

  background-color: rgb(227, 42, 221);
  background-image: url(../../../../images/Close.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;

  cursor: pointer;
}